body {
 	background-image: url(../imagenes/indiebike.jpg); 
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
	text-align: center;
	color: white;
	height: 100vh;
}

/*#contenedor{
	background-color: white;
	text-align: center;
	border : red solid 2px;
	height: 100px;
	width: 200px;
}*/
.colorNav{
	background-color: transparent;
    box-shadow: none;
    /*position: fixed;*/
}
.ocultar{
	display: none;
}
h1{
	margin-top: 20px;	
}